version: "3.9"

services:
  web:
    build: .
    container_name: securecoda_web
    command: ./docker-entrypoint.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  celery:
    build: .
    container_name: securecoda_celery
    command: celery -A secureCoda worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - web

  redis:
    image: redis:alpine
    container_name: securecoda_redis
    ports:
      - "6379:6379"
